.filterSetter {
  background-color: white;
  border-radius: 50px;
  display: flex;
  color: #494949;
  width: auto;

  //overflow: hidden;
  align-items: center;
  position: relative;
  &__btn {
    position: absolute;
    right: 5px;
  }
  &__select + &__select {
  }
  &__selectTitle {
    font-weight: 500;
  }
  &__selectDesc {
    color: #494949bd;
    font-weight: 300;
  }
  &__select {
    flex: 1;
    position: relative;
    height: 70px;
  }
  &__selectMiddle {
    flex: 2;
  }
}
