.rent {
  //padding: 20px;
  display: flex;
  //transform: translate(calc(-840px - 20px), 0);
  justify-content: space-between;
  //gap: 20px;
}

.list {
  transition: width 2s;
  //width: 0px;
  width: 840px;
  padding: 20px;
  transition: all 0.5s;
  &.close {
    position: inline;
    flex-shrink: 0;
    width: 0px;
    transition: all 0.5s;
    padding: 20px 0;
  }
}

.map {
  height: calc(100vh - 70px);
  flex-grow: 1;
  width: 0;
  position: fixed;
  //transition: all 0.5s;
  display: block;
}

.openMap {
  width: 100%;
  //flex-grow: unset;
  position: relative;
  flex-shrink: 0;
  transition: all 0.5s;
  //transform: translate(-30%, 0);
}
