.navBar {
  width: 100%;
  background-color: white;

  z-index: 1;
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .navBar {
    &__inner {
      height: 50px;
    }
  }
}
